@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Qwitcher+Grypen:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #121212;
}

/* Adding Consolas for code elements or specific sections */
code,
pre {
    font-family: "Consolas", "Courier New", monospace;
}

.card-shadow {
    @apply rounded-2xl shadow transition-shadow duration-100 hover:cursor-pointer hover:shadow-[0_0_10px_rgba(0,0,0,0.2),0_0_20px_rgba(0,0,0,0.1),0_0_30px_rgba(0,0,0,0.05)] hover:shadow-gray-700 hover:border-gray-400; /* Tailwind classes for rounded corners, transition, and duration */
}

.word {
    @apply inline-block; /* Make letters inline-block */
}

.word:hover {
    scale: 1.05;
}

.link-cards {
    @apply bg-gray-700/20 border border-gray-600 rounded-2xl shadow ml-1;
}

.scrollbar::-webkit-scrollbar {
    width: 0.5rem;
}

.scrollbar::-webkit-scrollbar-track-piece {
    height: 10rem;
}

.scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-600/20;
    border-radius: 1rem;
    margin-block: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/10;
    border-radius: 1rem;
}

/* Optional: Add hover effects for the thumb */
.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply opacity-50;
}
